@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="col-md-4">
        <partial name="~/PartialViews/_ProductListPartialView.cshtml" model="@ViewBag.ProductListPartialViewModel" />
    </div>
    <div class="col-md-4">

        @*1.Yol
        @await Component.InvokeAsync("ProductList")*@

        @*2.Yol*@
        <vc:product-list ></vc:product-list>
    </div>
</div>
