@{
    ViewData["Title"] = "Privacy Policy";
}

<div class="row">
    <div class="col-md-4">
        <partial name="~/PartialViews/_ProductListPartialView.cshtml" model="@ViewBag.ProductListPartialViewModel" />
    </div>
    <div class="col-md-4">

        @*1.Yol
        @await Component.InvokeAsync("ProductList",new {type = "Type2"})*@

        @*2.Yol*@
        <vc:product-list type="Type2"></vc:product-list>
    </div>
</div>
